$brownCoffee: #4A202A;
$blush: #D86487;
$metallicPink: #EEAAC3;
$palePink: #F1DFDD;
$claret: #76172C;


@font-face {
    font-family: "myChaman";
    src: url("/chaman_elegant/CHAMAN\ ELEGANT\ FONT.ttf") format("truetype"),
    url("/chaman_elegant/CHAMAN\ ELEGANT\ FONT.otf") format("opentype");
    font-display: auto;
}
@font-face {
    font-family: "myVostela";
    src: url(/vostela/VOSTELA.ttf) format(truetype),
    url(/vostela/VOSTELA.otf) format(opentype);
    font-display: auto;
}
//icon img
#iconImg {
    border-radius: 50%;
}
body {
    background-color: $palePink;
    margin: 0;
    padding: 0;
    font-family: "myVostela", sans-serif;
}
// announcenment, hero, header, nav 
.mainHeaderGroup {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid $claret;
}
//announcmenet
.announcementBar {
    height: 30px;
    background-color: $claret;
    color: $palePink;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $palePink;
    position: relative;
    width: 100%;
    z-index: 888;
}
.announcementText {
    font-family: "myChaman", sans-serif;
    font-size: 15px;
}
.fade { 
    animation: fadeIn 1s;
}
@keyframes fadeIn {
    from { opacity: 0;}
    to {opacity: 1;}
}
//header row 
.navWrapper {
    height: 60px;
    color: $claret;
    font-family: "myChaman", sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
}
h1 {
    margin: 0;
    text-align: center;
}
a {
    text-decoration: none;
    color: inherit;
}
#favIcon {
    position: absolute;
    text-decoration: none;
    color: $claret;
    font-size: 25px;
    right: 65px;
}
#favIcon:active {
    color: $brownCoffee;
}

#cartIcon {
    width: 25px;
    position: absolute;
    right: 25px;
}
.tabletDesktopNav {
    display: none;
}
.navToggle {
    display: none;
}
//mobile curtain
.navIcon {
    font-size: 40px;
    position: absolute;
    top: 35px;
    left: 20px;
    z-index: 999;
    color: $claret;
    user-select: none;
}
.navIcon:active {
    color: $brownCoffee;
}
//before menu open ≡
.navIcon::before {
    content: "≡";
}
//when open change to x to close
.navToggle:checked 
+ .navIcon::before {
    content: "✕";
    color: black;
    font-size: 30px;
}
.mobileCurtain {
    position: fixed;
    width: 100%;
    height: 0;
    background-color: rgba($claret, 0.9);
    overflow: hidden;
    display: flex;
    justify-content: center;
    transition: height 0.6s ease-in-out;
    z-index: 888;
}
.curtainMenu {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}
.curtainMenu a {
    margin: 0;
    padding: 30px;
    font-family: "myVostela", sans-serif;
}
.curtainMenu a:active {
    background-color: $palePink;
}
.navToggle:checked ~ .mobileCurtain {
    height: 100vh;
}
//hero img
.hero {
    position: relative;
    width: 100%;
    height: 80vh;
}
.hero img {
    position: relative;
    height: 100%;
    object-position: 30% center;
    object-fit: cover;
    z-index: 1;
    width: 100%;
}
.heroText {
    position: absolute;
    top: 10px;
    left: 50%;
    color: $palePink;
    transform: translate(-50%);
    text-align: center;
    text-shadow: 1px 1px 9px rgba($claret, 1);
    z-index: 2;
    width: 100%;
}
#headerShopBtn {
    z-index: 3;
    color: $claret;
    background-color: $palePink;
    position: absolute;
    display: inline-block;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    padding: 15px;
    font-size: 20px;
    text-decoration: none;
    font-family: "myVostela";
    border-radius: 30px;
    border: 1px $claret solid;
}
#headerShopBtn:active {
    background-color: $claret;
    color: $palePink;
}

.airiFooter {
    display: flex;
    flex-direction: column;
    align-items: right;
    background-color: $brownCoffee;
}
.footerContainer {
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    font-family: "myVostela", sans-serif;
}
.footerContainer h3,
.footerContainer p {
    color: $palePink;
}
.footerSection {
    margin-bottom: 10px;
    text-align: center;
    justify-content: center;
}
.footerSection a {
    margin: 10px;
    color: white;
}
.footerSection a:active {
    color: $claret;
}
h3 {
    font-size: 30px;
    margin-bottom: 0;
}
.footerSection h4, 
.footerSection h3 {
    text-align: center;
    color: $palePink;
}
.socialIcons img {
    width: 40px;
    align-items: center;
    margin: 0 20px;
}
@media (min-width: 768px )  {
.navWrapper {
    height: 80px;
}
h1 {
    font-size: 3em;
}
#favIcon {
    font-size: 38px;
    right: 80px;
}
#cartIcon {
    width: 40px;
}
.navIcon {
    font-size: 60px;
}
h2 {
    font-size: 50px;
}
#headerShopBtn {
    font-size: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.curtainMenu a {
    font-size: 2em;
    margin: 30px;
}
.socialIcons img {
    width: 32px;
}
}
@media (min-width: 1200px) {
    input[type=checkbox] {
        display: none;
    }
    label {
        display: none;
    }
    .navWrapper {
        height: 85px;
    }
    #favIcon {
        font-size: 38px;
        right: 100px;
    }
    #cartIcon {
        width: 40px;
        right: 38px
    }
    h1 {
        font-size: 3em;
    }
    .tabletDesktopNav {
        font-family: "myVostela", sans-serif;
        color: $palePink;
        border-bottom: $palePink 1px solid;
        display: flex;
        justify-content: center;
        gap: 75px;
        list-style: none;
        margin: 0;
        padding: 15px;
        background-color: $claret;
    }
    .tabletDesktopNav a {
        border: 1px $palePink solid;
        border-radius: 20px;
        padding: 7px 17px;
    }
     .tabletDesktopNav a:hover {
        background-color: $palePink;
        color: $claret;
    }
    #headerShopBtn:hover {
        background-color: $claret;
        color: $palePink;
    }
    .footerContainer {
        max-width: 1400px;
        gap: 10px;
    }
    .footerSection h4 {
        font-size: 25px;
    }
    .socialIcons img {
        width: 28px;
    }
}
