$brownCoffee: #4A202A;
$blush: #D86487;
$metallicPink: #EEAAC3;
$palePink: #F1DFDD;
$claret: #76172C;


@font-face {
    font-family: "myChaman";
    src: url("/chaman_elegant/CHAMAN\ ELEGANT\ FONT.ttf") format("truetype"),
    url("/chaman_elegant/CHAMAN\ ELEGANT\ FONT.otf") format("opentype");
}
@font-face {
    font-family: "myVostela";
    src: url(/vostela/VOSTELA.ttf) format(truetype),
    url(/vostela/VOSTELA.otf) format(opentype);
}
//icon img
#iconImg {
    border-radius: 50%;
}
body {
    background-color: $palePink;
    margin: 0;
    padding: 0;
}
// announcenment, hero, header, nav 
.mainHeaderGroup {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid $claret;
    background-color: $palePink;
}
//announcmenet
.announcementBar {
    height: 30px;
    background-color: $claret;
    color: $palePink;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $palePink;
    position: relative;
    width: 100%;
    z-index: 888;
}
.announcementText {
    font-family: "myChaman", sans-serif;
    font-size: 15px;
}
.fade { 
    animation: fadeIn 1s;
}
@keyframes fadeIn {
    from { opacity: 0;}
    to {opacity: 1;}
}
//header row 
.navWrapper {
    height: 60px;
    color: $claret;
    font-family: "myChaman", sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
}
h1 {
    margin: 0;
    padding: 0;
    text-align: center;
}
a {
    text-decoration: none;
    color: inherit;
}
#favIcon {
    text-decoration: none;
    color: $claret;
    position: absolute;
    right: 65px;
    font-size: 25px;;
}
#favIcon:active {
    color: $brownCoffee;
}

#cartIcon {
    width: 25px;
    position: absolute;
    right: 25px;
}
.tabletDesktopNav {
    display: none;
}
.navToggle {
    display: none;
}
//mobile curtain
.navIcon {
    font-size: 40px;
    position: absolute;
    top: 35px;
    left: 20px;
    z-index: 999;
    color: $claret;
    user-select: none;
}
.navIcon:active {
    color: $brownCoffee;
}
//before menu open ≡
.navIcon::before {
    content: "≡";
}
//when open change to x to close
.navToggle:checked 
+ .navIcon::before {
    content: "✕";
    color: black;
    font-size: 30px;
}
.mobileCurtain {
    position: fixed;
    width: 100%;
    height: 0;
    background-color: rgba($claret, 0.9);
    overflow: hidden;
    display: flex;
    justify-content: center;
    transition: height 0.6s ease-in-out;
    z-index: 888;
}
.curtainMenu {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}
.curtainMenu a {
    margin: 0;
    padding: 30px;
    font-family: "myVostela", sans-serif;
}
.curtainMenu a:active {
    background-color: $palePink;
}
.navToggle:checked ~ .mobileCurtain {
    height: 100vh;
}
//contact us page
.contactUsContainerWrapper {
    background-image: url(contactusbackground.jpg);
    background-size: cover;
    background-position: center;
    padding: 10px;
    margin: 0 auto;
}
.contactUsContainer {
    background-color: rgba($claret, 0.9);
    color: $palePink;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    padding: 20px;
    border: 2px solid $brownCoffee;
    margin: 15px auto;
}
h2 {
    font-family: "myVostela";
    font-size: 30px;

}
p {
    margin: 0;
    padding: 0;
}
input[type=text], 
input[type=email],
input[type=number],
select,
textarea {
    background-color: $palePink;
    color: $brownCoffee;
    width: 90%;
    border: 2px solid $brownCoffee;
    resize: vertical;
    justify-content: center;
    margin-bottom: 20px;
    padding: 10px;
    font-family: "myVostela", sans-serif;
}
select {
    width: 98%;
}
textarea {
    height: 100px;
}
input[type=submit] {
    background-color: $palePink;
    color: $brownCoffee;
    padding: 10px;
    border-radius: 10px;
    font-family: "myVostela", sans-serif;
    border: 2px solid $brownCoffee;
    font-size: 18px;
}
input[type=submit]:active {
    background-color: $claret;
    color: $palePink;
}
@media (min-width: 768px )  {
.navWrapper {
    height: 80px;
}
h1 {
    font-size: 3em;
}
#favIcon {
    font-size: 38px;
    right: 80px;
}
#cartIcon {
    width: 40px;
}
.navIcon {
    font-size: 60px;
}
.curtainMenu a {
    font-size: 2em;
    margin: 30px;
}
}