$brownCoffee: #4A202A;
$blush: #D86487;
$metallicPink: #EEAAC3;
$palePink: #F1DFDD;
$claret: #76172C;


@font-face {
    font-family: "myChaman";
    src: url("/chaman_elegant/CHAMAN\ ELEGANT\ FONT.ttf") format("truetype"),
    url("/chaman_elegant/CHAMAN\ ELEGANT\ FONT.otf") format("opentype");
}
@font-face {
    font-family: "myVostela";
    src: url(/vostela/VOSTELA.ttf) format(truetype),
    url(/vostela/VOSTELA.otf) format(opentype);
}
//icon img
#iconImg {
    border-radius: 50%;
}
body {
    background-color: $palePink;
    margin: 0;
    padding: 0;
}
// announcenment, hero, header, nav 
.mainHeaderGroup {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid $claret;
}
//announcmenet
.announcementBar {
    height: 30px;
    background-color: $claret;
    color: $palePink;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $palePink;
    position: relative;
    width: 100%;
    z-index: 888;
}
.announcementText {
    font-family: "myChaman", sans-serif;
    font-size: 15px;
}
.fade { 
    animation: fadeIn 1s;
}
@keyframes fadeIn {
    from { opacity: 0;}
    to {opacity: 1;}
}
//header row 
.navWrapper {
    height: 60px;
    color: $claret;
    font-family: "myChaman", sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
}
h1 {
    margin: 0;
    text-align: center;
}
a {
    text-decoration: none;
    color: inherit;
}
#favIcon {
    position: absolute;
    text-decoration: none;
    color: $claret;
    font-size: 25px;
    right: 65px;
}
#favIcon:active {
    color: $brownCoffee;
}

#cartIcon {
    width: 25px;
    position: absolute;
    right: 25px;
}
.tabletDesktopNav {
    display: none;
}
.navToggle {
    display: none;
}
//mobile curtain
.navIcon {
    font-size: 40px;
    position: absolute;
    top: 35px;
    left: 20px;
    z-index: 999;
    color: $claret;
    user-select: none;
}
.navIcon:active {
    color: $brownCoffee;
}
//before menu open ≡
.navIcon::before {
    content: "≡";
}
//when open change to x to close
.navToggle:checked 
+ .navIcon::before {
    content: "✕";
    color: black;
    font-size: 30px;
}
.mobileCurtain {
    position: fixed;
    width: 100%;
    height: 0;
    background-color: rgba($claret, 0.9);
    overflow: hidden;
    display: flex;
    justify-content: center;
    transition: height 0.6s ease-in-out;
    z-index: 888;
}
.curtainMenu {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}
.curtainMenu a {
    margin: 0;
    padding: 30px;
    font-family: "myVostela", sans-serif;
}
.curtainMenu a:active {
    background-color: $palePink;
}
.navToggle:checked ~ .mobileCurtain {
    height: 100vh;
}
//product cards 
.productContainerWrapper {
    font-family: "myVostela", sans-serif;
    padding: 20px;
}
.productContainerWrapper h2 {
    text-align: center;
    font-size: 30px;
    color: $claret;
}

#productGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    padding: 10px;
}
.products h3 {
    font-size: 20px;
    margin: 5px;
}
.products p {
    font-size: 10px;
    margin-left: 10px;
}
.product-card {
    background-color: $palePink;
    border: $brownCoffee 1px solid;
    border-radius: 8px;
    padding: 0px;
    text-align: left;
}
.product-card img {
    width: 100%;
    border-radius: 8px;
}
.product-card:active {
    box-shadow: 0 4px 10px rgba($claret, 0.9);
}
.airiFooter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $brownCoffee;
}
.footerContainer {
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    font-family: "myVostela", sans-serif;
}
.footerContainer h3,
.footerContainer p {
    color: $palePink;
}
.footerSection {
    margin-bottom: 10px;
    text-align: center;
    justify-content: center;
}
.footerSection a {
    margin: 10px;
    color: white;
}
.footerSection a:active {
    color: $claret;
}
h3 {
    font-size: 30px;
    margin-bottom: 0;
}
.footerSection h4, 
.footerSection h3 {
    text-align: center;
    color: $palePink;
}
.socialIcons img {
    width: 40px;
    align-items: center;
    margin: 0 20px;
}
@media (min-width: 768px )  {
.navWrapper {
    height: 80px;
}
h1 {
    font-size: 3em;
}
#favIcon {
    font-size: 38px;
    right: 80px;
}
#cartIcon {
    width: 40px;
}
.navIcon {
    font-size: 60px;
}
.curtainMenu a {
    font-size: 2em;
    margin: 30px;
}
#productGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

}
@media (min-width: 1200px) {
    input[type=checkbox] {
        display: none;
    }
    label {
        display: none;
    }
    .tabletDesktopNav {
        font-family: "myVostela", sans-serif;
        color: $palePink;
        border: $palePink 1px solid;
        display: flex;
        justify-content: center;
        gap: 75px;
        list-style: none;
        margin: 0;
        padding: 15px;
        background-color: $claret;
    }
    .tabletDesktopNav a {
        border: 1px $palePink solid;
        border-radius: 20px;
        padding: 7px 17px;

    }
    .tabletDesktopNav a:hover {
        background-color: $palePink;
        color: $claret;
    }
    #productGrid {
        grid-template-columns: repeat(4, 1fr);
    }
    .product-card:hover {
        box-shadow: 0 4px 10px rgba($claret, 0.9);
    }
    .footerContainer {
        max-width: 1400px;
        padding: 40px 0;
        gap: 10px;
    }
    .socialIcons img {
        width: 28px;
    }
}
